<html>
  <head>
    <meta charset="UTF-8" />
    <title>Metrique</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>

  <style>

  </style>

  <body>
    <div id="chart_div"></div>
    <script>
      google.charts.load('current', {packages: ['corechart']});
      google.charts.setOnLoadCallback(drawBackgroundColor);

      function drawBackgroundColor() {
        fetch('/paris/')
          .then(response => response.json())
          .then(data => {
            drawChart(data);
          });
      }

      function drawChart(data) {
        var dataArray = [['Date', 'Température', {role: 'style'}, {role: 'annotation'}]];

        data.results.forEach(entry => {
          var date = new Date(entry.Jour * 1000);
          var color = 'color: ' + getColorForTemperature(entry.temp);
          var annotation = date.toLocaleDateString();
          dataArray.push([date.toLocaleDateString(), entry.temp, color, annotation]);
        });

        var dataTable = google.visualization.arrayToDataTable(dataArray);

        var options = {
          title: 'Évoluti
